
<!-- Text Box -->
<input type="text" ng-show="{{mOptions.inputtype==='textbox'}}" class="form-control" ng-class="mOptions.inputClass" id="{{mOptions.id}}"  placeholder="{{mOptions.placeholder}}">

<!-- Mobile No -->
<input m-mobile-no type="text" ng-show="{{mOptions.inputtype==='mobileno'}}" class="form-control" ng-class="mOptions.inputClass" id="{{mOptions.id}}"  placeholder="{{mOptions.placeholder}}">

<!-- Phone No -->
<input m-phone-no type="text" ng-show="{{mOptions.inputtype==='phoneno'}}" class="form-control" ng-class="mOptions.inputClass" id="{{mOptions.id}}"  placeholder="{{mOptions.placeholder}}">

<!-- Pin -->
<input m-pin type="text" ng-show="{{mOptions.inputtype==='pin'}}" class="form-control" ng-class="mOptions.inputClass" id="{{mOptions.id}}"  placeholder="{{mOptions.placeholder}}">